.Junior-Program{
    background-image: url(./Images/2.png);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}
.Teenager-Program{
    background-image: url(./Images/3.png);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}
.Professional-Program{
    background-image: url(./Images/4.png);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}